/* Dashboard page */

.green {
    color: green;
}

.red {
    color: red;
}

/* Dashboard page end here */

/* Add blog page */

.quill {
    background-color: white;
}

/* Add blog page end here */
